/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Reset by Meyer */

/* Layout */
h1{
	font-size: 18px;
	line-height: 34px;
	color: #1271b3;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

h2{
	font-size: 14px;
	line-height: 28px;
	color: #1271b3;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

h3{
	font-size: 14px;
	line-height: 28px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1271b3;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
 
#wrapper{
	margin: 0 auto;
	max-width: 1024px;
	min-height: 768px;
	padding: 0 15px;
	background-color: white;
	} 

.container p{
	text-align: center;
	padding-top: 20px;
}

.container{
	max-height: 500px;
	min-height: 450px;
	overflow: scroll;
	padding-bottom: 15px;
	border-top: 2px solid #1271b3;
}

.top{
	padding-top: 30px;}

/* header */

header{
	height: 150px;
	}
.logo{
	margin: 0 auto;
	background: url(../imagenes/logo_bgdental.png);
	width: 350px;
	height: 125px;
	}

/* navegacion */

			#menu {
				margin:auto;
				width:650px;
				height:32px;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#1271b3;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
				width: 100px;
			}
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}


/* search */

.search{
	width: 150px;
	height: 25px;
	position:fixed;
	z-index:10;
	background:#888 url(../imagenes/search.png) no-repeat;
	border: 1px dotted #333;
	line-height: 25px;
	padding-left: 30px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}  

.search a{
	text-decoration: none;
	color: white;}
	
/* registro */

.register{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: 10px;}
.register a{
	text-decoration: none;
	color: #333;}
.register a:hover{
	text-decoration: underline;}

/* forms */

.form-signup, .form-signin {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

/* tablas */
table{
    border-collapse: collapse;
    border-spacing: 0;
	/*width:100%;
	height:100%;*/
	margin:0px;padding:0px;
}

/*th{
	padding: 5px;
	border: 1px solid gray;
}

td{
	padding: 5px;
	border: 1px solid gray;
}*/

tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
tr:hover td{}
tr:nth-child(odd){ background-color:#aad4ff; }
tr:nth-child(even)    { background-color:#ffffff; }
td{
	vertical-align:middle;	
	border:1px solid #b2b2b2;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
tr:last-child td{
	border-width:0px 1px 0px 0px;
}
tr td:last-child{
	border-width:0px 0px 1px 0px;
}
tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
tr:first-child td{
		background:-o-linear-gradient(bottom, #0000ff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000ff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0000ff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#007fff");	background: -o-linear-gradient(top,#0000ff,007fff);

	background-color:#0000ff;
	border:0px solid #b2b2b2;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0000ff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000ff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0000ff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#007fff");	background: -o-linear-gradient(top,#0000ff,007fff);

	background-color:#0000ff;
}
tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.tbl_izq{
	float: left;
	min-width: 300px;
}
.tbl_drc{
	float: right;
	display: block;
	max-height: 470px;
	overflow: scroll;
	margin-right: 50px;
}

/*  crear clientes */

#crear p{
	text-align: left;
	padding-top: 10px;
}

/* footer */
footer{
	padding-top: 20px;
	border-top: 1px solid #333;
	min-height: 100px;
	text-align: center;
}