/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Reset by Meyer */

/* Layout */
h1{
	font-size: 18px;
	line-height: 34px;
	color: #1271b3;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

h2{
	font-size: 14px;
	line-height: 28px;
	color: #1271b3;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

h3{
	font-size: 14px;
	line-height: 28px;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1271b3;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
 
#wrapper{
	margin: 0 auto;
	max-width: 1024px;
	min-height: 768px;
	padding: 0 15px;
	background-color: white;
	} 

.container p{
	text-align: center;
	padding-top: 20px;
}

.container{
	max-height: 500px;
	min-height: 450px;
	padding-bottom: 15px;
	border-top: 2px solid #1271b3;
}

.container a{
	text-decoration: none;
	color:#1271b3;
}
.container a:hover{
	text-decoration: none;
	color:#66a3e5;
}
.container li{
	display: inherit;
}
.top{
	padding-top: 30px;
	}
.overflow{
	overflow: auto;
	height: 450px;
}

/* header */

header{
	height: 150px;
	}
.logo{
	margin: 0 auto;
	background: url(../imagenes/logoQdental.png);
	width: 350px;
	height: 125px;
	}

/* navegacion */

			#menu {
				margin:auto;
				width:650px;
				height:32px;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
				text-align: center;
			}
			
			.nav li a {
				background-color:#1271b3;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
				width: 100px;
			}
			.nav li a:hover {
				background-color:#66a3e5;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}


/* search */

.search{
	width: 160px;
	height: 25px;
	/*position:fixed;
	z-index:10;*/
	background:#66a3e5 url(../imagenes/search.png) no-repeat;
	border: 1px dotted #333;
	line-height: 25px;
	padding-left: 30px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}  

.search a{
	text-decoration: none;
	color: white;}

.search a:hover{
	text-decoration: none;
	color: #1271b3;}
	
/* registro */

.register{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 10px;}
.register a{
	text-decoration: none;
	color: #333;}
.register a:hover{
	text-decoration: underline;}

/* forms */

.form-signup, .form-signin {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

/* tablas */
table{
	/*width:100%;
	height:100%;*/
	margin:0px;padding:0px;
}

th{
	padding: 10px;
	background-color: #1271b3;
	border-right: 1px solid white;
	color: white;
	font-size:10px;
}
/*
td{
	padding: 5px;
	border: 1px solid gray;
}*/

tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
tr:hover td{}
tr:nth-child(odd){ background-color:#aad4ff; }
tr:nth-child(even)    { background-color:#ffffff; }
td{
	vertical-align:middle;	
	border:1px solid #b2b2b2;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
tr:last-child td{
	border-width:0px 1px 0px 0px;
}
tr td:last-child{
	border-width:0px 0px 1px 0px;
}
tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
tr:first-child td{
	/*	background:-o-linear-gradient(bottom, #1271b3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1271b3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #1271b3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1271b3", endColorstr="#007fff");	background: -o-linear-gradient(top,#1271b3,#007fff);*/
;
	border:0px solid #b2b2b2;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-family:Arial;
	color:#ffffff;
	/*background-color:#1271b3
	font-size:14px;
	font-weight:bold;*/

}
tr:first-child:hover td{
	/*background:-o-linear-gradient(bottom, #0000ff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000ff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0000ff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#007fff");	background: -o-linear-gradient(top,#0000ff,007fff);*/

	background-color:#66a3e5;
}
tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
th {
	background-color:#1271b3;
	border:0px solid #b2b2b2;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

    
/* tablero division */
.tbl_izq{
	float: left;
	min-width: 300px;
}
.tbl_drc{
	/*float: left;*/
	display: block;
	max-height: 450px;
	overflow: scroll;
	margin-left: 50px;
}
/* botones login */
.botonl{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: white;
}
.botonm{
	padding: 3px;
	border: 1px solid #69767e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #cedce7; /* Old browsers */
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	}
.rollwht a{
	color: white;
	}
.rollwht a:hover{
	color: black;
	}
/*  crear clientes */

#crear p{
	text-align: left;
	padding-top: 10px;
}

/* registro */
.labelreg{
	width: 120px;
	height: 100%;
	display: block;
	float: left;
}
.labelreg li{
	line-height: 24px;
}
.labelreg2{
	width: 180px;
	height: 100%;
	display: block;
	float: right;
}
.labelreg2 li{
	line-height: 24px;
}

.labelreg3{
	width: 350px;
	height: 100%;
	display: block;
	float: left;
}
.labelreg3 li{
	line-height: 24px;
	padding-bottom: 4px;
}

.labelreg3 a{
	text-decoration: none;
	color:#1271b3;
}
.labelreg3 a:hover{
	text-decoration: none;
	color:#66a3e5;
}
.labelreg4{
	width: 80px;
	height: 100%;
	display: block;
	float: left;
	margin-left: 100px;
}
.labelreg4 li{
	line-height: 24px;
	padding-bottom: 4px;
}
.labelreg5{
	width: 120px;
	height: 100%;
	display: block;
	float: left;
	margin-left: 100px;
}
.labelreg5 li{
	line-height: 24px;
	padding-bottom: 4px;
}
.labelreg6{
	width: 900px;
	display: block;
	float: left;
	margin-left: 100px;
}
.labelreg6 li{
	line-height: 24px;
}
.labelreg7{
	width: 100px;
	height: 100%;
	display: block;
	float: left;
}
.labelreg7 li{
	line-height: 24px;
	padding-bottom: 4px;
}

.top_reg {
	width: 1024px;
	height: 120px;
	display: block;
	margin: 0 auto;
}
.roll {
	height: 450px;
	overflow: auto;
}

/* Calendario */
.table_cal{
	margin: 5px auto;
	width: 960px;
	height: 415px;
	border: 1px solid #888;
}
.table_cal td{
	width: 14%;
}
.table_cal a{
	color: #fff;
	font-size: 16px;
}
.table_cal a:hover{
	color: #66a3e5;
	font-weight: bold;
	font-size: 16px;
}
.table_cal tr:first-child td{
	background-color:#1271b3;
	border:0px solid #fff;
	text-align:center;
	border-width:1px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table_cal .date{
	width: 100%;
	margin: 0;
}
.table_cal .cal_day{
	height: 10px;
	width: 100%;
}
.table_cal p{
	text-align: center;
	padding-top: 1px;
	overflow: auto;}
.table_cal tbody tr:nth-child(odd){
	height: 45px;
}
.table_cal tbody tr:nth-child(even){
	min-height: 100px;
}
/* select */
.select_prof{
    font-size: 10px;
    width: 100px;    
}

/* odontograma */

/* tratamientos */
#tratamientos {
	padding-left: 5px;
}
div[id*='tratamiento-'] {
	line-height: 20px;
}
div[id*='dpiezas-']{
	padding: 5px 0 5px 0;
}
*[id^='descuento-']{
	margin: 0 10px 0 10px;
}
*[id^='s_tipodescuento-']{
	margin: 0 10px 0 10px;
}
*[id^='preciof-']{
	margin: 0 10px 0 10px;
}
*[id^='compania-']{
	margin: 0 10px 0 10px;
}
*[id^='precio-']{
	margin: 0 10px 0 10px;
}
*[id^='grupo-']{
	margin: 0 10px 0 10px;
}
*[id^='s_tratamiento-']{
	margin: 0 10px 0 10px;
}
*[id^='piezas-']{
	margin: 0 10px 0 10px;
}
/* exit */
.exit{
	float: right;
	margin-right: 20px;
}
/* footer */
footer{
	padding-top: 20px;
	border-top: 1px solid #333;
	min-height: 100px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
footer p{
	padding: 5px 0;
}
footer a{
	text-decoration: none;
	color:#1271b3;
}
footer a:hover{
	text-decoration: none;
	color:#66a3e5;
}
/* ------- clases  ----*/
.bold {
	font-weight: bold;
}

.euros {
    width: 75px;
}

.td_centrado {
    text-align: center !important;
}

.turnoincidencia {
	color: red;
}
